<section class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-services relative">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                                <div class="page-title text-center">
                                    <h2>Divine <span class="primary">Courage</span> <span class="title-bg">Courage</span></h2>
                                    <img src="{{hero_image}}" alt="" srcset="">
                                    <p onClick="window.location.reload();">{{localized_name}}</p>
                                </div>
                                <div class="hexagon-menu services clear">
                                    {{#each inventory as |item|}}
                                    <div class="service-hex">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                                <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                            </g>
                                        </svg>
                                        <div class="content">
                                            <img src="{{item.item_image}}" alt=""> 
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div> <!-- /.col-xs-12 -->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span></span>
                                <span class="copyright hidden-xs">Copyright &copy; 2022 Jordan Rothwell, All Rights Reserved.</span>
                                <span></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </section> <!-- /.site-wrapper -->